/*
 * Licensed to Marvelution under one or more contributor license 
 * agreements.  See the NOTICE file distributed with this work 
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
*/

a {
	color: #000;
}

.footer {
	padding: 0.5em;
	text-align: center;
	font-size: xx-small;
	width: 100%
}

.view-container {
	margin: 10px;
}

.view-container p, .view-container h3,
.left-column p, .left-column h3,
.right-column p, .right-column h3 {
	margin: 0;
	padding: 0;
}

.left-column {
	width: 49%;
	float: left;
}

.right-column {
	width: 49%;
	float: right;
}

.big-measure {
	font-size: 152%;
	font-weight: bold;
}

.alert_OK {
}

.alert_WARN {
	background-color: #FF8500;
	color: #FFF;
	margin: 0;
	padding: 0 3px;
}

.alert_ERROR {
	background-color: #F93F40;
	color: #FFF;
	margin: 0;
	padding: 0 3px;
}
