/*
 * Licensed to Marvelution under one or more contributor license 
 * agreements.  See the NOTICE file distributed with this work 
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
*/
a {
	color: #000;
}

img {
	border: 0;
	vertical-align: text-top;
}

.footer {
	padding: 5px 5px 2px 5px;
	text-align: center;
	font-size: xx-small;
	width: 100%
}

.view-container {
	margin: 10px;
}

.view-container p, .view-container h3,
.left-column p, .left-column h3,
.right-column p,.right-column h3 {
	margin: 0;
	padding: 0;
}

.left-column {
	width: 49%;
	float: left;
}

.right-column {
	width: 49%;
	float: right;
}

.left-column-onethird {
	width: 33%;
	float: left;
}

.right-column-twothird {
	width: 65%;
	float: right;
}

.big-measure {
	font-size: 152%;
	font-weight: bold;
}

.alert_OK {
	
}

.alert_WARN {
	background-color: #FF8500;
	color: #FFF;
	margin: 0;
	padding: 0 3px;
}

.alert_ERROR {
	background-color: #F93F40;
	color: #FFF;
	margin: 0;
	padding: 0 3px;
}

.violation-row {
	clear: both;
	width: 275px;
}

.violation-row img {
	padding: 0px 2px 0px 0px;
	float: left;
}

.violation-name {
	padding: 0px 2px;
	width: 50px;
	text-align: left;
	float: left;
}

.violations {
	padding: 0px 2px;
	width: 50px;
	text-align: right;
	float: left;
}

div.barchart {
	border: 0;
	margin: 0;
	padding: 3px 2px;
	float: left;
}

div.barchart>div {
	background-color: #4B9FD5;
	height: .9em;
}

#tabs {
	
}

#tabs .tab {
	padding: 2px 10px;
	border: 1px solid #CCC;
	background-color: #CCC;
	cursor: pointer;
}

#tabs .selected {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}

#charts {
	padding: 5px;
	border: 1px solid #CCC;
	background-color: #FFF;
}

#charts .chart {
	text-align: center;
	height: 150px;
}
